@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Poppins', sans-serif;
	background-image: url("hero bg 4.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

header {
	width: 100%;
	height: 5%;
	background-color: rgba(255,255,255,0.26);
	backdrop-filter: blur(5px);
	padding-bottom: 50px;
	margin-bottom: -50px;
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}

img.logo {
	padding: 0px 0px 30px 0px;
	margin: -3px 0px 30px 38px;
	height: auto;
	width: 8.5%;
}

.navv {
	padding-top: 205px;
	margin-bottom: -314px;
}
nav p{
	color: white;
	background-color: #896B00;
	border: 2px solid tranparent;
	border-radius: 15px;
	list-style-type: none;
	display: inline-block;
    padding: 10px 25px;
	margin-left: 35px;
	margin-right: 35px;
	transform: translateY(-13%);
	
}
nav ul li{
	list-style-type: none;
	display: inline-block;
    padding: 10px 25px;
	transform: translateY(-13%);
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-tranform: capitalize;
	text-shadow: 0px 0px 5px #896B00, 0px 0px 15px #896B00;
}
nav ul li a:hover{
	color: white;
	text-shadow: 0px 0px 50px white, 0px 0px 50px white;
	transition: .4s;
}
.dropbtn {
	font-family: 'Poppins', sans-serif;
	background-color: #A98300;
    color: white;
    padding: 12.5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgba(0,0,0,0.50);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	color: white;
	background-color: rgba(127,99,0,0.50);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #896B00;
}

.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: -35px;
	margin-left: 0px;
	letter-spacing: 2px;
	font-size: 30px;
	text-shadow: 0px 0px 10px #9B6A00, 0px 0px 10px #9B6A00;
}
img.adminn {
	filter: invert(100%);
	width: 15%;
	height: auto;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px -3.4px 4px;
	color: white;
}
.hero {
	background-image: linear-gradient(to top, black -25%, transparent 30%);
	background-size: cover;
	background-position: 10% 50%;
	padding-top: 160px;
	padding-bottom: 327px;
}
.light {
	font-weight: bolder;
	color: orangered;
	-webkit-text-stroke: 0.001px white;
}

.text_column {
	width: 29%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 30px;
	padding-right: 15px;
	color: white;
}
.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: -10px;
	display: inline-block;
	margin-top: -20px;
	padding-bottom: 10px;
	margin-bottom: -143.5px;
}

